# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
build/

# Firebase
.firebase/
*-debug.log
firebase-debug.log*

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
